body {
  margin: 0;
  font-family: 'Cinzel', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: overlay;
}

/*===== Hide Scrollbar CSS =====*/
/* Allows for scrolling with no scrollbar */
/* * {
  -ms-overflow-style: none;
} */

/* Hide the scrollbar */
/* ::-webkit-scrollbar {
  display: none;
} */

/* ===== Custom Scrollbar CSS =====*/
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555555 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

@font-face {
  font-family: 'Cinzel';
  src: url('./fonts/Cinzel-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FTY SKORZHEN NCV';
  src: url('./fonts/FTY SKORZHEN NCV.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora-Regular';
  src: url('./fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora-SemiBold';
  src: url('./fonts/Lora-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lora-Bold';
  src: url('./fonts/Lora-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}